
/* Page Wrapper - Temp Contents*/

body{
  background-color: #f6f6f6!important;
  height: auto !important;;
}

.header-main{
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 20;
  background-color: #fff;
  box-shadow: 0 0.25rem 0.5625rem -0.0625rem rgb(0 0 0 / 3%),
  0 0.275rem 1.25rem -0.0625rem rgb(0 0 0 / 5%);
}

/* Actual Content */

/* modal */

#build-modal .modal-dialog{
  max-width: 1150px;
  min-width: initial;
  width: 100%;
}
#build-modal .modal-table{
  width: 100%;
  display: grid;
  grid-template-columns:auto auto auto auto auto auto;
}
#build-modal .modal-table > div{
  padding:0 5px;
}
#build-modal .modal-table div:nth-child(12n+1),
#build-modal .modal-table div:nth-child(12n+2),
#build-modal .modal-table div:nth-child(12n+3),
#build-modal .modal-table div:nth-child(12n+4),
#build-modal .modal-table div:nth-child(12n+5),
#build-modal .modal-table div:nth-child(12n+6){
  background-color: #f0f0f0;
}

#build-modal .modal-table div:nth-child(-n+6),
#build-modal .modal-table div:nth-last-child(-n+6) {
  background-color: #333;
  color:#fff;
}

#build-modal .modal-table div:nth-child(6n+4),
#build-modal .modal-table div:nth-child(6n+5),
#build-modal .modal-table div:nth-child(6n+6){text-align: right;}

#build-modal .modal-table div:nth-child(6n+2){text-align: center;}

#build-modal .modal-footer .footer-interface{
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  border-width: 1px;
  border-style: solid;
  border-radius: 0.4375rem;;
  border-color: #e3e9ef;
  word-break: break-all;
  flex-grow: 1;
  overflow: hidden;
}
#build-modal .footer-link-body{
  align-self: center;
  padding: 5px;
  flex-grow: 1;
  overflow-y: auto;
  max-height: 3.5rem;
}
#build-modal .footer-interface button{
  border-style: none;
  border-radius: 0;
  background-clip: padding-box;  
  font-size: 1.2rem;
  padding: calc(0.625rem/3) 1.375rem;
}
#build-modal .modal-footer{
  flex-flow: column nowrap;
  align-items: stretch;
}

/*Top offset*/
.builder-body-container{
  margin-top: -4.875rem;
}

/* Head - Description */

.builder-body-container .cont-descr{
  background-color: #fff;
  border-radius: 0.4375rem;
  margin: 0px;
  margin-bottom: 15px;
  box-shadow: 0 0.3rem 1.525rem -0.375rem rgba(0,0,0,0.1);
  padding: 15px;
  text-align: justify;
}

/* Product - Cart */
.tab-container{
  position: -webkit-sticky;
  position: sticky;
  top: 139px;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 0.4375rem;
  background-color: #ffffff;
  box-shadow: 0 0.3rem 1.525rem -0.375rem rgba(0,0,0,0.1);
}
@media only screen and (max-width: 991px){
  .tab-container{
    top: 129px;
  }
}
.tab-container ul.nav-tabs:first-child button{
  padding-top: 0;
}
.builder-product .prod-navigation .prod-navigator{
  border-radius: 0.4375rem;
  padding: 5px;
}
.builder-product .prod-navigation .prod-navigator:hover{
  background-color: #f6f6f6;
  cursor: pointer;
}
.builder-product .prod-navigation .prod-navigator i{margin-right: 10px;}
.builder-product .prod-navigation .prod-navigator span{float: right;}

.builder-product-cart{  
  display: grid;
  grid-template-areas: 'build-modal-bt'
                       'add-to-cart'
                       'build-performance';
}
.builder-product .build-faq{
  grid-area: build-faq;
  margin-bottom: 5px;
  white-space: normal;
}
.builder-product .build-photos{
  grid-area: build-photos;
  margin-bottom: 5px;
  white-space: normal;
}
.builder-product .build-modal-bt{
  grid-area: build-modal-bt;
  margin-bottom: 5px;
  white-space: normal;
}
.builder-product .build-modal-bt button{
  width: 100%;
}
.builder-product .build-add-to-cart{
  grid-area: add-to-cart;
  margin-bottom: 5px;
  display: flex;
  justify-content: end;
  align-items: center;
  white-space: normal;
}
@media only screen and (max-width: 767px){
  .builder-product{
    z-index: 2;
  }
  .builder-product .build-add-to-cart{
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    justify-content: center;
    z-index: 20;
    margin: 0;
    padding: 5px 0;
    background-color: #eee;
  }
}
/* Carousel */
.builder-product .perf-carousel{
  grid-area: build-performance;
}
.perf-carousel{
  padding-bottom: 20px;
}
.perf-carousel img{
  width: 100%;
  border-radius: 0.4375rem;
}
.perf-carousel .carousel-control-prev,
.perf-carousel .carousel-control-next{
  width: 20px;
  /*height: 50%;*/
  align-items: end;
}
.perf-carousel .carousel-control-prev span,
.perf-carousel .carousel-control-next span{
  height:50%;
  width: 100%;
}
.perf-carousel .carousel-indicators{
  margin-bottom: 0;
}
#performance-carousel-2 .perf-display{
  margin: 0 20px;  
}
#performance-carousel-2 .perf-head{
  display: flex;
  justify-content: space-around;
  margin: 5px 0;
  border-bottom: 1px solid #dde4eb;
}
#performance-carousel-2 .perf-body{
  text-align: center;
}
.category-link{
  cursor: pointer;
}

/* Part List */
@media only screen and (min-width:768px){
  .builder-parts{
    padding-right: 0;
  }
}
.builder-part-category{
  background-color: #ffffff;
  box-shadow: 0 0.3rem 1.525rem -0.375rem rgba(0,0,0,0.1);
  border-radius: 0.4375rem;
  margin-bottom: 15px;
}
.builder-part-category .part-category-head{
  background-color:#fff;
  padding: 10px;
  transition: 0.25s;
  transition-timing-function: ease;
  border-radius: 0.4375rem;
  z-index: 1;
}
.builder-part-category.lp-show .part-category-head{
  border-radius: 0;
  background-color:#f6f6f6;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 139px;
}
.builder-part-category .part-category-head::after{
  content: '\02795';
  font-size: 13px;
  color: #777;
  float: right;
}
.builder-part-category.lp-show .part-category-head::after{
  content: "\2796";
  font-size: 13px;
  color: #777;
}
@media only screen and (max-width: 991px){
  .builder-part-category.lp-show .part-category-head{
    top: 129px;
  }
}
.builder-part-category .part-category-head:hover {
  background-color:#f0f0f0;
  cursor: pointer;
}
.builder-part-category .part-category-description {
  background-color: #ffffff;
  padding: 10px;
  display: none;
  border-bottom: 1px solid #e3e9ef;
  margin-bottom: 6px;
}
.builder-part-category.lp-show  .part-category-description{
  display: block;
}

/* Part Body */

.builder-part-category .part-list-containter{
  padding:10px;
}
.builder-part-category .part-rd-bt{
  display: none;
}
.builder-part-category .listed-part{  
  display: none;
}
.builder-part-category.lp-show .listed-part,
.part-rd-bt:checked + .listed-part{
  display: block;
}
.builder-part-category .part-list-containter .border-top {
  display: none;
}
.builder-part-category.lp-show .part-list-containter .border-top{
  display: block;
}
.builder-part-category .listed-part-inner{  
  transition: -webkit-box-shadow 0.2s ease-in-out, box-shadow 0.1s ease-in-out;
  display: grid;
  border-radius: 0.4375rem;
  margin: 0;
  padding: 0 5px;
  min-height: 99px;
  grid-template-columns: 74px auto 100px;
  grid-template-rows: auto minmax(36px, auto);
  grid-template-areas: 'part-img part-text part-price'
                      'part-img part-btn part-btn';
}
.builder-part-category.lp-show .part-rd-bt:checked +
.listed-part .listed-part-inner{
  box-shadow: 0 0 1.125rem -0.3rem rgb(66 214 151 / 90%);
}
.builder-part-category .part-rd-bt:disabled +
.listed-part .listed-part-inner > div{opacity: 0.5;}
.builder-part-category .part-rd-bt:disabled +
.listed-part .listed-part-inner > div.part-btn{opacity: 1;}
@media only screen and (max-width: 575px) {
  .builder-part-category .listed-part-inner{
    grid-template-columns: 74px auto;
    grid-template-rows: auto minmax(36px, auto) auto;
    grid-template-areas: 'part-img part-text'
                       'part-price part-price'
                       'part-btn part-btn';
  }
}

/* Inner Parts */


.listed-part-inner .part-img{
  display: flex;
  align-items: center;
  grid-area: part-img;
}
.listed-part-inner .part-text{
  grid-area:part-text;
  padding: 5px;  
}
.listed-part-inner .part-text .prod-av-2{color: #449d44;}
.listed-part-inner .part-text .prod-av-1{color: #ec971f;}
.listed-part-inner .part-text .prod-av-0{color: #c9302c;}
.listed-part-inner .part-price{
  min-height: 61px;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  align-items: center;
  align-content: start;
  grid-area:part-price;
  padding: 5px;
}
.part-rd-bt:checked + .listed-part .price-difference{display: none;}
.listed-part .price-difference.price-lower{color:#14c714;}
.listed-part .price-difference.price-higher{color:#ff1b1b;}
.listed-part-inner .part-btn{
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  align-items: center;
  gap: 5px;
  padding: 5px;  
  grid-area:part-btn;
}
@media only screen and (max-width: 575px) {
  .listed-part-inner .part-price{
  min-height: initial;
  justify-content: center;
  }
  .listed-part-inner .part-btn{
    justify-content: center;
  }
}

.listed-part-inner .prod-quick-view{
  color: #4b566b;
  transition: color 0.25s ease-in-out;
  margin-right: auto;
}
.listed-part-inner .prod-quick-view i{
  margin-right: 0.25rem
}
.listed-part-inner .prod-quick-view:hover{
  text-decoration: none;
  color: #eabe4b;
}
.builder-part-category .part-rd-bt:disabled + .listed-part .prod-quick-view{
  display: none;
}
@media only screen and (max-width: 991px){
  .listed-part-inner .prod-quick-view{
    display: none;
  }
}
.part-btn label.btn{
  margin:0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 3px;
  padding-right: 3px;
  width: 92px;
  box-shadow: 0 0.3rem 1.525rem -0.375rem rgb(0 0 0 / 10%);
  display: none;
}
.part-btn label.btn-change{display: inline-block;}
.builder-part-category.lp-show .listed-part .part-btn label.btn-change{display:none;}

.builder-part-category.lp-show .listed-part .part-btn label.btn-select{display: inline-block;}
.builder-part-category.lp-show .part-rd-bt:checked + .listed-part .part-btn label.btn-select{display: none;}

.builder-part-category.lp-show .part-rd-bt:checked + .listed-part .part-btn > label.btn-cancel,
.builder-part-category.lp-show .part-rd-bt:checked + .listed-part .part-btn > label.disabled{display: inline-block;}

.builder-part-category .part-rd-bt:disabled + .listed-part .part-btn label.btn,
.builder-part-category .part-rd-bt:disabled + .listed-part .part-btn label.btn.btn-cancel,
.builder-part-category .part-rd-bt:disabled + .listed-part .part-btn part-number-input{
  display: none;
}
.builder-part-category .listed-part .part-btn .disabled-part{margin-right: auto;display: none;}
.builder-part-category .part-rd-bt:disabled + .listed-part .part-btn .disabled-part{display: inline-block;}

/*num Button */
.part-btn .part-number-input{
  display: flex;
  align-items: center;
  width: 92px;
  height: 24px;
  padding: 0;
  border: none;
  text-align: center;
  box-shadow: 0 0.3rem 1.525rem -0.375rem rgb(0 0 0 / 10%);
}
.part-btn .part-number-input input{
  display: none;
}
.part-btn .part-number-input .quantity-display{
  flex-grow: 1;
  opacity: 0.65;
  transition: opacity 0.25s ease-in-out;
}
.part-btn .part-number-input .part-num-decr,
.part-btn .part-number-input .part-num-incr{
  border-radius:.25rem 0 0 .25rem;
  background-color:#d0d0d0;
  color: #fff;
  padding: 0 0.5ch;
  opacity: 0.65;
  transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out, opacity 0.25s ease-in-out;
}
.part-btn .part-number-input .part-num-incr{
  border-radius: 0 .25rem .25rem 0;
}
.part-rd-bt:checked + .listed-part
.part-btn .part-number-input .quantity-display{opacity: 1;}
.part-btn .part-number-input.decr-av .part-num-decr,
.part-btn .part-number-input.incr-av .part-num-incr{
  opacity: 1;
  cursor: pointer;
}
.part-btn .part-number-input.decr-av .part-num-decr,
.part-btn .part-number-input.incr-av .part-num-incr{
  opacity: 1
}
.part-btn .part-number-input.decr-av .part-num-decr:hover,
.part-btn .part-number-input.incr-av .part-num-incr:hover{
  background-color: #c0c0c0;
}

@media only screen and (max-width: 575px) {
  .listed-part-inner .part-btn label.btn,
  .listed-part-inner .part-btn .part-number-input{
    flex-grow: 1;
  }
}


@media print{
  .topbar,
  .header-main,
  .page-title-overlap,
  footer{
    display:none;
  }
  .builder-body-container{
    display:none;
  }
  #build-modal .modal-footer,
  #build-modal .modal-header button{
    display:none;
  }  
  body, div#build-modal.modal{
    padding-right: 0 !important;
  }
  #build-modal .modal-content{
    align-self: stretch;
  }  
}